/*
  
   Wildcat Computer Science Style Sheet for printer
   Author: YOUR NAME
   Date:   TODAY'S DATE

   Filename:         print.css
   Supporting Files: none

*/
@media print
{
    img
    {
        visibility: hidden;
    }
    a
    {
        visibility: hidden;
    }
}






